body {
    margin: 0;
}

#winner {
    color: white;
    font-size: large;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    border-bottom: 2px;
    border-radius: 3px;
    border-style: solid;
    border-color: palevioletred;
}

.period-section {
    min-width: 10rem;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    margin: auto;
    text-align: center;
    background-color: black;
}

.period-count {
    font-size: x-large;
    color: white;
}

.period-scoreboard{
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: whitesmoke;
}

.titleScoreboard{
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: black;
}

.scoreboard-teamname {
    text-align: center;
}

.background-score {
    width: 100px;
    height: 100px;
    border-width: 2px;
    border-color: white;
    background-color: black;
    text-align: center;
    align-content: center;
    margin: auto;
}

.scoreDigits {
    font-size: x-large;
    color: red;
    font-family: 'Cursed Timer ULiL'
}

.score-btn {
    border-width: 1px;
    border-radius: 3px;
    background-color: transparent;
    opacity: 0.5;
    width: 10vh;
    height: 10vh;
    padding: 5px;
    margin-top: 5px;
    font-size: 10px;
    color: black;
    justify-items: center;
}

.reset-btn {
    margin-top: 5px;
    background-color: azure;
    border-radius: 5px;
    border-width: 0px;
    font-size: 14px;
}